.offcanvas {
    background-color: #ebdbc2;
}

.offcanvas-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.offcanvas .addToCheckout {
    background-color: #746f68;
    color: #ffffff;
    padding: 14px 16px;
}