body {
  background-color: #fffdf1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Khand", sans-serif;
  justify-content: center;
  align-items: center;
}

.checkout-container {
  max-width: 600px;
  width: 90%;
  margin: 20px;
  padding: 20px;
  background-color: #fffdf1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(13, 13, 13, 0.129);
}

header h1 {
  font-size: 23px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.cart {
  margin-bottom: 30px;
}
.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}
.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative;
}

.cart-item:last-child {
  border-bottom: none;
}

.product-checkout-title {
  margin: 15px;
}

.remove-item-checkout {
  flex: 0;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  margin: 6px;
}

.remove-item-checkout i {
  font-size: 1.2rem;
  color: #888;
}

.remove-item-checkout:hover i {
  color: #e74c3c;
}

.product-checkout-title {
  flex: 2;
  margin-right: 10px;
}

.quantity-controls {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.decrement-btn,
.increment-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.decrement-btn,
.increment-btn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 30%;
  font-size: 18px;
  color: #555;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.decrement-btn:hover,
.increment-btn:hover {
  background-color: #d79d96;
  color: #fff;
}

.quantity-display {
  width: 10px;
  text-align: center;
  font-size: 16px;
}

.product-checkout-price {
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

.checkout-form form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

.checkout-btn {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #746f68;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-btn:hover {
  background-color: #a99d8b;
}

footer ul,
li,
h3,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

footer {
  background-color: #ebdbc2;
  font-size: 16px;
  color: #746f68;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
}

footer div {
  width: 100%;
  margin-bottom: 20px;
}

.footer-social-list,
.footer-payment-list {
  display: flex;
  flex-direction: column;
}

.footer-social-list li,
.footer-payment-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-payment-list li i {
  margin-right: 10px;
}

.footer-social-list li a {
  margin-left: 10px;
}

footer a {
  color: #746f68;
}

footer a:hover {
  color: #ffffff;
}

@media (min-width: 768px) {
  .checkout-container {
    max-width: 600px;
  }

  header h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  footer div {
    width: 25%;
    margin-bottom: 0;
  }
}
