@import url("https://fonts.googleapis.com/css2?family=Khand:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fffdf1;
  font-family: "Khand", sans-serif;
}
body .products-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebdbc2;
  background-image: url(/src/hero-products.png);
  background-size: cover;
  background-position: center;
  padding: 100px 0px;
  text-align: center;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
  width: 100vw;
}
body .products-hero #hero-content {
  max-width: 800px;
  margin: 0 auto;
}
body .products-hero #hero-content h1 {
  font-size: 3.2rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #eeead0;
  text-shadow: 0px 1px 2px black;
}
body .products-hero #hero-content h2 {
  font-size: 1.7rem;
  color: #e3c7c7;
  text-shadow: 0px 1px 2px black;
}
body .products-hero #hero-content p {
  font-size: 1.2em;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;
  color: #f4f2ec;
  text-shadow: 0px 0px 3px black;
  border-radius: 10px;
}
body #site-name {
  font-size: 30px;
  background-color: #ebdbc2;
  text-align: center;
  margin-bottom: 0px;
  font-weight: normal;
  color: black;
  width: 100vw;
}
body #products-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 50px 25px 50px 25px;
}
body #products-container .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 100%;
  min-width: 150px;
  max-width: 250px;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  background-color: #ebdbc2;
  background-image: linear-gradient(to bottom, #fbf5f0 40%, rgba(0, 0, 0, 0) 50%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s ease;
  border-radius: 12px;
  justify-content: space-between;
}
body #products-container .product-card .product-img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
body #products-container .product-card .product-title {
  font-size: 1.5rem;
  min-height: 74px;
}
body #products-container .product-card .product-description {
  line-height: 1.5;
  font-size: 1rem;
  background-color: #ebdbc2;
  text-align: left;
  min-height: 150px;
}
body #products-container .product-card .product-price {
  width: 100%;
  text-align: right;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}
body #products-container .product-card .card-button {
  height: 40px;
  width: 90%;
  background-color: #746f68;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  align-self: center;
  margin-top: auto;
}
body #products-container .product-card .card-button:hover {
  background-color: #e3c7c7;
}

body {
  background-color: #fffdf1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Khand", sans-serif;
  justify-content: center;
  align-items: center;
}

#logo {
  background-color: #ebdbc2;
  font-size: 30px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.checkout-container {
  max-width: 600px;
  width: 90%;
  margin: 20px;
  padding: 20px;
  background-color: #fffdf1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(13, 13, 13, 0.129);
}

header h1 {
  font-size: 23px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.cart {
  margin-bottom: 30px;
}

.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
  border-bottom: none;
}

.product-checkout-title {
  margin: 15px;
}

.remove-item-checkout {
  margin: 5px;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

.checkout-form form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

.checkout-btn {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-btn:hover {
  background-color: #0056b3;
}

footer ul,
li,
h3,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

footer {
  background-color: #ebdbc2;
  font-size: 16px;
  color: #746f68;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
}

footer div {
  width: 100%;
  margin-bottom: 20px;
}

.footer-social-list,
.footer-payment-list {
  display: flex;
  flex-direction: column;
}

.footer-social-list li,
.footer-payment-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-payment-list li i {
  margin-right: 10px;
}

.footer-social-list li a {
  margin-left: 10px;
}

footer a {
  color: #746f68;
}

footer a:hover {
  color: #ffffff;
}

@media (min-width: 768px) {
  .checkout-container {
    max-width: 600px;
  }
  header h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  footer div {
    width: 25%;
    margin-bottom: 0;
  }
}
footer ul,
li,
h3,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

footer {
  background-color: #ebdbc2;
  font-size: 19px;
  color: #746f68;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

footer div {
  width: 100%;
  margin-bottom: 20px;
}

.footer-social-list,
.footer-payment-list {
  display: flex;
  flex-direction: column;
}

.footer-social-list li,
.footer-payment-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-payment-list li i {
  margin-right: 10px;
}

.footer-social-list li a {
  margin-left: 10px;
}

footer a {
  color: #746f68;
}

footer a:hover {
  color: #ffffff;
}

@media (min-width: 768px) {
  footer div {
    width: 25%;
    margin-bottom: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Khand", sans-serif;
  background-color: #faf8ef;
}

.hero {
  background-color: #d3d3d3;
  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 80px;
  position: relative;
  width: 100vw;
  height: 60vh;
}
.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.intro {
  background-color: #e5d0b0;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  color: #6f6f6f;
}

.products h2 {
  font-size: 2rem;
  font-weight: bold;
  color: palevioletred;
}
.products .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.products .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.products .card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.products .card .card-img-top {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px 10px 0 0;
}
.products .card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
.products .card .card-text {
  font-size: 0.9rem;
  color: #777;
}
.products .card .card-text.text-success {
  width: 100%;
  text-align: right;
  color: rgb(0, 0, 0) !important;
  font-size: 1.5rem;
  font-weight: normal !important;
}
.products .card .btn-primary {
  height: 40px;
  width: 90%;
  background-color: #746f68;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  align-self: center;
  margin-top: auto;
}
.products .card .btn-primary:hover {
  background-color: #e3c7c7;
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: 1fr;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .intro {
    font-size: 1rem;
  }
}
.navigation {
  width: 100vw;
  overflow: hidden;
  background-color: #ebdbc2;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.name {
  background-color: #ebdbc2;
  color: #746f68;
  text-align: center;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
}

.navigation #navLinks {
  display: none;
}

.navigation a {
  color: #746f68;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.navigation a.icon {
  background-color: #ebdbc2;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.navigation a:hover {
  background-color: #746f68;
  color: #ffffff;
}

.navigation button {
  background-color: #ebdbc2;
  border-style: none;
  border-radius: 0;
  color: #746f68;
  padding: 14px 16px;
  text-align: center;
  font-size: 20px;
}

.navigation button:hover {
  background-color: #746f68;
  color: #ffffff;
}

.cart-button {
  position: absolute;
  bottom: 10px;
  right: 0px;
}

@media (min-width: 768px) {
  .navigation #navLinks {
    display: flex;
    justify-content: flex-start;
    width: auto;
  }
  .navigation button {
    display: flex;
    justify-content: flex-end;
  }
  .navigation a {
    display: inline-block;
  }
  .navigation a.icon {
    display: none;
  }
  .cart-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
.offcanvas {
  background-color: #ebdbc2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.offcanvas-title {
  font-size: 24px;
}

.offcanvas .addToCheckout {
  background-color: #746f68;
  color: #ffffff;
  padding: 14px 16px;
  border-style: none;
}

.offcanvas .addToCheckout:hover {
  background-color: #a99d8b;
  color: #ffffff;
  border: solid;
  border-color: #746f68;
}

.offcanvas .button-checkout {
  position: absolute;
  bottom: 15px;
  right: 15px;
}/*# sourceMappingURL=main.css.map */