.navigation {
    overflow: hidden;
    background-color: #ebdbc2;
    position: relative;
}
.navigation #navLinks {
    display: none;
}

.navigation a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navigation a.icon {
    background: #ebdbc2;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.navigation a:hover {
    background-color: rgb(226, 208, 184);
    color: #746f68;
}

.name {
    background-color: #ebdbc2;
    color: white;
    text-align: center;
}

.btn {
    color: #746f68;
}


footer ul, li, h3, p, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

footer {
    background-color: #ebdbc2;
    font-size: 16px;
    color: #746f68;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

footer div {
    width: 100%;
    margin-bottom: 20px;
}

.footer-social-list, .footer-payment-list {
    display: flex;
    flex-direction: column;
}

.footer-social-list li, .footer-payment-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.footer-payment-list li i {
    margin-right: 10px;
}

.footer-social-list li a {
    margin-left: 10px;
}

footer a {
    color: #746f68;
}

footer a:hover {
    color: #ffffff;
}

@media (min-width: 768px) {
    footer div {
        width: 25%;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .navigation #navLinks {
        display: flex;
        justify-content: flex-start;
        width: auto;
    }

    .navigation a {
        display: inline-block;
    }

    .navigation a.icon {
        display: none;
    }
}